* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --discoblau: #4891ff;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    vertical-align: auto;
}

.navbar .main-menu ul  {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--discoblau);
}

.navbar ul li a i {
    margin-right: 50px;
}


/* Hero */
.hero {
    margin-bottom: 50px;
}

.hero .container {
    background: url('../images/hero.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 900px;
}

.hero .hero-content {
    width: 70%;
}

/* Team */
.team {
    padding: 40px 0;
}

.team .team-heading {
    width: 700px;
    margin-bottom: 40px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.team .card p:nth-child(2) {
    margin-top: 30px;
    font-weight: bold;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.img-footer {
    padding: 40px 0;
}

.impressum {
    background: #000;
    color: #fff;
    padding: 15px 0 40px;
}

.impressum .pobox {
    padding: 20px;
}

.impressum .imp-links {
    text-align: center;
}

.impressum .imp-links a {
    color: #fff;
    font-size: 0.8rem;
    padding: 7px;
}



/* Utility Classes */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Text Classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

.text-tn {
    font-size: 0.7rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

/* Background */

.bg-primary {
    background: var(--discoblau);
    color: #fff;
}

.bg-light {
    background: #333;
    color: #fff;
}

.bg-dark {
    background: #888;
    color: #fff;
}

.bg-black {
    background: #000;
    color: #fff;
}

.bg-footer {
    background: #eee;
    color: #000;
}

.bg-impressum {
    color: #ccc;
}


/* Cards */

.card {
    background: #fff;
    color: #555;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
}

.card-footer {
    text-align: center;
    border-radius: 5px;
    padding: 20px 10px;
    display: flex;
    vertical-align: middle;
}

.card-rptu {
    text-align: left;
    border-radius: 5px;
    padding: 30px;
    display: flex;
}